{% extends 'base.html' %}

{% block title %}Work Entries{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">TimeManager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% for item in menu %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url item.url %}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="{% url 'main' %}">Home</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="{% url 'add_work_entry' %}/">Add Work Entry</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="{% url 'work_entry_list' %}">List Work Entry</a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
    <h1>приложение Timemanager</h1>
{% endblock navbar %}
                    {% for item in menu %}
                        <li class="nav-item">
                        <a class="nav-link" href="{% url item.url %}">{{ item.name }}</a>
                    </li>
                    {% endfor %}