{% extends 'base.html' %}

{% block title %}Work Entries{% endblock %}

{% block content %}
    <h2>Work Entries</h2>
    <!-- Отладочный вывод для проверки содержимого переменной work_entries -->
    <h3>Debug Info:</h3>
    <pre>{{ work_entries|pprint }}</pre>
    <pre>{{ work_entries }}</pre>
    {% for entry in work_entries %}
        {{ entry }}
    {% endfor %}
        43
    <table id="workEntriesTable" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Job Title</th>
            <th>Hours</th>
            <th>Hourly rate</th>
            <th>Comment</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in work_entries %}
        <tr>
            <td>{{ entry.job_title }}</td>
            <td>{{ entry.hours_worked }}</td>
            <td>{{ entry.hourly_rate }}</td>
            <td>{{ entry.comment }}</td>
            <td>{{ entry.date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block extra_scripts %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#workEntriesTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "lengthChange": false
            });
        });
    </script>
{% endblock %}